#ajax-loader {
  position: fixed;
  @extend .small-16;
  @extend .d-table;
  @extend %transition;
  top: 0; left: 0;
  z-index: 9999;
  height: 100%;
  background-color: rgba($white,.6);
  visibility: hidden;
  opacity: 0;
  &.show {
    visibility: visible;
    opacity: 1;
  }
}

/**
 * --------------------------------------------------------------------------
 * Cabeçalho
 * --------------------------------------------------------------------------
 */

#header {
  background-color: $body-bg;
  z-index: 999;
}

//Barra do topo com social
.nav-top {
  border-bottom: 1px solid rgba($secondary-color,.2);
  > .row {
    > .d-table {
      height: rem-calc(40);
    }
  }

  ul {
    li:first-child {
      margin-left: 0;
    }
    a {
      @extend .secondary;
      @extend .font-lite;
      @extend .font-small;
      opacity: .8;
      //border-bottom: 1px solid $white;
      &:hover {
        opacity: 1;
        border-bottom: 1px solid rgba($secondary-color,.5);
      }
    }
  }
}

//Links das redes sociais no topo
.social-top {
  right: rem-calc(10);
  top: 0;
  @extend %full-height;

  h4 {
    @extend .d-table;
    @extend .text-center;
    @extend .no-margin;
    @extend .left;
    @extend %transition;
    @extend .rel;
    width: rem-calc(40);
    height: rem-calc(40);

    &:before {
      content: "";
      @extend .d-block;
      @extend %full-height;
      @extend .abs;
      top: 0; left: 0;
      border-left: 1px solid rgba($secondary-color,.2);
    }

    &:last-child {
      &:after {
        content: "";
        @extend .d-block;
        @extend %full-height;
        @extend .abs;
        top: 0; right: 0;
        border-right: 1px solid rgba($secondary-color,.3);
      }
    }

    &:hover {
      a {
        @extend .primary;
      }
    }

    a {
      @extend .d-table-cell;
      @extend .secondary;
    }
  }
}

//Container da marca
%header-height {
  height: rem-calc(120);
}
.brand-section {
  > .d-table {
    @extend %header-height;
  }
}

//logo
.logo {
  h1 {
    @extend .d-table-cell;
  }
}

//form de busca
%search-height {
  height: rem-calc(50);
}
.search-form {
  @extend %search-height;
  @extend .bg-white;
  width: rem-calc(438);
  .icon-search {
    @extend .d-iblock;
    font-size: rem-calc(30);
    line-height: rem-calc(50);
    margin-left: rem-calc(10);
  }
  input[type="text"] {
    @extend %search-height;
    @extend .left;
    @extend .no-margin;
    width: rem-calc(300);
    border: none;
    box-shadow: inset 0px 0px 0px transparent;
    &:focus {
      @extend .bg-white;
    }
  }
  label {
    @extend .left;
  }
  .button {
    @extend %search-height;
    @extend .no-margin;
    @extend .font-bold;
    line-height: 1;
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    border: 2px outset $ghost;
  }
}

//Ofertas da semana
.week-offer  {
  @extend .d-iblock;
  @extend .text-up;
  margin-bottom: 0;
  line-height: 0;
  margin-left: rem-calc(10);
  z-index: 99999;

  > a {
    @extend %search-height;
    @extend .font-bold;
    padding: rem-calc(13.5);
    border: 2px outset $primary-color;
  }

  &:hover {
    .week-feature {
      visibility: visible;
      opacity: 1;
    }
  }
}
.week-feature {
  width: rem-calc(651);
  border: 10px solid $primary-color;
  right: 0;
  top: 100%;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  @extend %transition;
  @extend .bg-primary;
  img {
    width: 100%;
    @extend .left;
    height: auto;
  }
}

//Carrinho de compras
.shop-car {

  @extend .lh-zero;
  padding: rem-calc(0 10);
  z-index: 9999;

  .icon-chevron-down {
    font-size: rem-calc(16);
    @extend .d-iblock;
    line-height: rem-calc(50);
  }

  > a {
    @extend .d-block;
    @extend .lh-zero;
    @extend .secondary;
    @extend .left;

    .icon-carshop {
      font-size: rem-calc(50);
    }
  }

  &:hover {
    @extend .bg-white;
    .items-cart {
      visibility: visible;
      opacity: 1;
    }
    .icon-carshop {
      @include translateX(0);
    }
  }

}
.qtd-cart {
  width: rem-calc(20);
  height: rem-calc(20);
  border-radius: 100%;
  @extend .d-iblock;
  @extend .text-center;
  @extend .font-small;
  @extend .font-lite;
  @extend .white;
  line-height: rem-calc(20);
  left: rem-calc(35);
  top: rem-calc(2);
}
.items-cart {
  width: rem-calc(382);
  right: 0;
  top: 100%;
  @extend .bg-white;
  @extend %transition;
  overflow-x: hidden;
  padding: rem-calc(40 10);
  border-bottom: 4px solid $primary-color;
  visibility: hidden;
  opacity: 0;
  &.with-items {
    padding-bottom: 0;
  }
}
.no-items {
  @extend .rel;
  padding: rem-calc(0 20);
  height: rem-calc(100);

  .icon-carshop {
    font-size: rem-calc(160);
    color: $vapor;
    top: rem-calc(-24); left: 0;
    z-index: 0;
    @extend %transition;
    @include translateX(-100%);
  }

  hgroup {
    z-index: 9;
  }
}

/**
 * --------------------------------------------------------------------------
 * Navegação
 * --------------------------------------------------------------------------
 */
$menu_height: rem-calc(50);

//opções do usuário logado
.user-options {
  padding-right: rem-calc(10);

  li {
    display: block;
    padding: rem-calc(0 10);
  }
  span {
    line-height: rem-calc(50);
    @extend .primary;
    font-size: rem-calc(30);
    margin-right: rem-calc(5);
  }
  a {
    padding: 0 !important;
  }
}

//Menu principal
#main-menu {
  @extend .bg-secondary;

  .main-items {
    @extend .no-margin;
    > li {
      margin-left: 0;
      &:hover {
        @extend .bg-white;
        > a {
          @extend .primary;
        }
      }
    }
    > li > a {
      @extend .white;
      @extend .d-iblock;
      @extend .rel;
      height: $menu_height;
      line-height: rem-calc(50);
      font-size: rem-calc(16);
      padding: 0 20px;

      /*&:before {
        content: "";
        @extend .d-block;
        @extend %full-height;
        @extend .abs;
        top: 0; left: 0;
        border-left: 1px solid rgba($white,.1);
      }*/
      .icon-icon_down {
        @extend .rel;
        @extend .secondary;
        top: 2px;
      }
    }
  }
}

ul.main-items {
  padding-left: rem-calc(10);
}

.main-items {
  height: $menu_height;
}

.choose-search {
  @extend .d-table;
  @extend .abs;
  @extend .bg-secondary;
  @extend .primary;
  padding: rem-calc(0 15);
  height: rem-calc(70);
  width: 50%;
  top: 0;
  left: 50%;
  border-radius: 0 0 20px 0;
  
  &.active {
    @extend .bg-primary;
    @extend .white;
    > span {
      @extend .primary;
    }
  }
  &:hover {
    @extend .white;
  }
  > div {
    margin-top: rem-calc(16);
    small, span {
      @extend .d-iblock;
      line-height: 1.2;
    }
    span {
      @extend .font-normal;
    }
  }
  > span {
    left: 0;
    bottom: rem-calc(-16);
    @extend .secondary;
  }
}
.choose-search:first-child {
  left: rem-calc(10);
  border-radius: 0 0 0 20px;
}

//Menu Produtos/Fabricantes
.search-menu {
  padding-top: rem-calc(30);
  a {
    @extend .ghost;
    @extend .font-normal;
    @extend .d-iblock;
    @extend .left;
    @extend .small-16;
    padding-left: rem-calc(10);
    border-bottom: 1px solid tint($ghost, 75%);
    border-left: 5px solid transparent;
    height: rem-calc(27);
    line-height: rem-calc(29);

    &:hover {
      border-left-color: $primary-color;
      @extend .bg-white;
    }
  }
  > ul {
    display: none;
    &.active {
      display: block;
    }
  }
  > ul > li {
    @extend .text-up;
    &.current-term {
      > a {
        @extend .primary;
      }
    }
  }

}

//submenus fabricante -> grupos
.list-menu {
  > li {
    @extend .rel;
    @extend .small-16;
    @extend .left;
    > ul {
      visibility: hidden;
      opacity: 0;
      @extend %transition;
      @extend .abs;
      left: 85%;
      top: 0;
      z-index: 9999;
      background-color: $white;
      width: rem-calc(200);
      padding: rem-calc(20);
      border-top: 2px solid $primary-color;
      @include box-shadow( 0px 0px 13px -1px rgba(0,0,0,0.44) );

      li {
        border: none !important;
        @extend .small-16;
        @extend .left;
      }
      a {
        border: none !important;
        padding: 0;
        font-size: rem-calc(12);
        &:hover {
          @extend .primary;
        }
      }
    }
    &:hover {
       > ul {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .icon-icon_right_3 {
    line-height: rem-calc(27);
  }
}

//lista de produtos em destaque
#list-products {
  figure {
    @extend .small-16;
    @extend .rel;
    padding: rem-calc(16);
    height: rem-calc(300);

    > div {
      @extend .bg-white;
      @extend %transition;
      @extend %full-height;
      @include box-shadow(0 0 20px rgba(0, 0, 0, 0.05));
      top: 0; left: 0;
      z-index: 0;
    }
    
    &:hover {
      > div { @include scale(1.05); }
    }
  }
  figcaption {
    @extend .rel;
    z-index: 9;
    margin-top: rem-calc(10);
    h2 {
      line-height: 1.2;
      margin-bottom: rem-calc(15);
    }
    a {
      @extend .secondary;
      @extend .d-block;
      height: rem-calc(35);
      font-size: rem-calc(14);

      &:hover {
        @extend .primary;
      }
    }
  }
  .button {
    height: rem-calc(30);
    line-height: rem-calc(30);
    padding: 0;
    @extend .small-16;
    &:hover {
      background-color: $primary-color !important;
    }
  }
}

.product-thumb {
  height: rem-calc(180);
  @extend .text-center;
  @extend .rel;
  z-index: 9;

  img {
    height: 100%;
    width: auto;
  }
  
}

//Reconhecimentos
#nav-testimonials {
  figure {
    padding: rem-calc(16);
    padding-top: 0;
    img {
      @extend .small-16;
      @extend .left;
      height: auto;
    }
  }
}

// links institucionais
#corp-skills {
  a {
    height: rem-calc(120);
    @extend .bg-white;
    border-top: 3px solid $primary-color;
    &:hover {
      @extend .primary;
    }
  }
  article,span {
    @extend .d-iblock;
  }
  span {
    font-size: rem-calc(40);
  }
}

// ultimas noticias
.more-news {
  padding: rem-calc(5 10);
  @extend .d-iblock;
  @extend .bg-primary;
  border-radius: 10px 10px 0 0;
  &:hover {
    @extend .white;
  }
}

#nav-blog-last {
  .d-block {
    width: rem-calc(310);
    height: rem-calc(180);
    overflow: hidden;
  }
  img {
    @extend .small-16;
    @extend .left;
    @extend %transition;
    height: auto;
    &:hover {
      @include scale(1.03);
    }
  }
}

/**
 * --------------------------------------------------------------------------
 * Home slider
 * --------------------------------------------------------------------------
 */
#home-slider {
  height: rem-calc(420);
  nav {
    height: 100%;
    background-color: tint($ghost,50%);
    @include box-shadow(0px 6px 29px -9px rgba(0,0,0,0.5));
    z-index: 9;
    border-bottom: 1px solid $white;
  }
  figure > a {
    top: 0; left: 0;
    @extend %full-height;
  }
}
.nav-slider {
  height: 100%;
  left: 0;
  top: 0;
  font-size: rem-calc(42);
  @extend .white;
  opacity: .6;
  z-index: 999;

  &:hover,&:focus {
    opacity: 1;
    @extend .white;
  }
  &.next-slider {
    right: 0;
    left: inherit;
  }
}

.slider-pager {
  z-index: 999;
  bottom: rem-calc(10);
  left: 0;

  span {
    @extend .d-iblock;
    margin: rem-calc(0 5);
    width: rem-calc(12);
    height: rem-calc(12);
    border-radius: 100%;
    @extend .bg-ghost;
    @extend %transition;
    cursor: pointer;

    &.cycle-pager-active {
      @include scale(1.5);
      border: 2px solid $primary-color;
      background-color: transparent;
    }
  }
}

/**
 * --------------------------------------------------------------------------
 * Distrbuidores slider
 * --------------------------------------------------------------------------
 */
#list-partners {
  figure {
    @extend .text-center;
  }
}
.nav-partners {
  a {
    @extend .d-iblock;
    @extend .ghost;
    margin-left: rem-calc(5);
    line-height: 1.2;
    font-size: rem-calc(24);
    &:hover {
      @extend .primary;
    }
  }
}

/**
 * --------------------------------------------------------------------------
 * Formulários
 * --------------------------------------------------------------------------
 */

//Login do parceiro na página principal
.partner-login {
  padding-right: rem-calc(10);
  overflow: visible !important;
  li {
    @extend .rel;
  }
  a {
    @extend .bg-white;
    color: $ghost !important;
  }
  .icon-icon_perfil {
    font-size: rem-calc(22);
    top: rem-calc(3);
  }
  &:hover {
    .partner-form {
      visibility: visible;
      opacity: 1;
    }
    a {
      color: $primary-color !important;
    }
  }
}
.partner-form {
  right: 0;
  bottom: rem-calc(-320);
  padding: rem-calc(20);
  width: rem-calc(270);
  height: rem-calc(320);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  @extend %transition;
  button {
      height: rem-calc(45);
      border: 2px outset $primary-color;
      padding-top: 0;
      padding-bottom: 0;
      &.secondary {
          border: 2px outset $secondary-color;
      }
  }
}

//newsletter abaixo do slider da home
#newsletter {
  @extend .d-table;
  height: rem-calc(60);
  background-color: #eaeaea;
  border-radius: 0 0 20px 20px;

  i {
    font-size: rem-calc(54);
    line-height: rem-calc(60);
  }

  hgroup {
    margin: rem-calc(12 0 0 10);
  }

  input[type="email"] {
    width: 75% !important;
  }

  input,button {
    height: rem-calc(35);
    @extend .no-margin;
  }

  button {
    padding: 0;
  }

  form {
    margin-top: rem-calc(12);
  }
}

$padding_col: rem-calc(85); 
.col-left {
  padding-left: $padding_col;
}
.col-right {
  padding-right: $padding_col;
}

//breadcrumb
.breadcrumb {
  padding: rem-calc(10);
  border-bottom: 2px solid $ghost;
  @extend .bg-white;
}

/**
 * --------------------------------------------------------------------------
 * Escopo genérico das seções
 * --------------------------------------------------------------------------
 */

//Container
.section-block {
  margin-top: rem-calc(30);
}

//Cabeçalhos
.section-header {
  border-bottom: 2px solid $primary-color;
  margin-bottom: rem-calc(20);
}

/**
 * --------------------------------------------------------------------------
 * Componentes de páginas internas
 * --------------------------------------------------------------------------
 */
.page-header {
  padding-top: rem-calc(20);
  h4 {
    border-bottom: 2px solid $ghost;
    @extend .small-16;
    @extend .left;
    @extend .no-margin;
  }
}

//Minha conta
.panel-advice {
  padding: rem-calc(20);
  border-radius: 6px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  @include box-shadow( 0px 0px 5px 0px rgba(0,0,0,0.2) );
}

.tabs {
  a {
    @extend .text-up;
  }
  li {
    border-top: 2px solid transparent;
    &.active {
      border-top-color: $ghost;
    }
  }
}

.tabs-content {
  input[disabled="disabled"] {
    background-color: $white;
  }
}

.tab-title {
  a {
    outline: none !important;
  }
}

.faq-list {
  li {
    span {
      @extend .d-block;
      background-color: tint($ghost,80%);
      padding: rem-calc(5 10);
      cursor: pointer;
    }
    > div {
      display: none;
    }
    &.active {
      > div {
        display: block;
      }
      .icon-icon_up_2 {
        display: inline-block;
      }
      .icon-icon_down_2 {
        display: none;
      }
    } 
  }
  i {
    line-height: 22px;
    padding-right: rem-calc(8);
  }
  .icon-icon_up_2 {
    display: none;
  }  
}

//página do produto
.post-header {
  border-bottom: 1px solid tint($ghost,50%);
  padding-bottom: rem-calc(5);
}

//Carrinho
.change_cart_quantity {
  > span {
    @extend .d-iblock;
    @extend .left;
    @extend .text-center;
    @extend .ghost;
    @extend %transition;
    line-height: rem-calc(35);
    width: rem-calc(35);
    height: rem-calc(35);
    border: 1px solid tint($ghost,70%);
    cursor: pointer;

    &.total_item, input {
      width: rem-calc(50);
      border-left: none;
      border-right: none;
      cursor: text;
    }

    input {
      border: none;
      height: rem-calc(32);
      background-color: transparent;
      @extend .text-center;
    }

    &:not(.total_item) {
      &:hover {
        background-color: tint($ghost,90%);
      }
    }
  }
  
  .button {
    padding: rem-calc(10 20);
    margin-left: rem-calc(20);
    &.submit_item {
      padding: rem-calc(0 20);
      height: rem-calc(35);
      line-height: rem-calc(37);
      span {
        @extend .rel;
        top: rem-calc(2);
      }
    }
  }

}


/**
 * --------------------------------------------------------------------------
 * Rodapé
 * --------------------------------------------------------------------------
 */
%icon-footer-abs {
  top: 0; left: 0;
  font-size: rem-calc(26);
}
#footer {
  padding: rem-calc(40 0);
  @extend .bg-secondary;
  border-top: 10px solid tint($secondary-color,20%);
  a {
    @extend .white;
    &:focus {
      @extend .white;
    }
    &:hover {
      @extend .primary;
    }
  }

  .tel > a,address {
    padding-left: rem-calc(35);
  }

  .tel {
    span {
      @extend %icon-footer-abs;
    }
    a {
      line-height: rem-calc(26);
    }
  }

  address {
    p {
      line-height: 1.2;
      font-style: normal;
      @extend .no-margin;
      @extend .font-normal;
    }

    span {
      @extend %icon-footer-abs;
    }

    a {
      opacity: .6;
    }
  }
}
.header-footer {
  height: rem-calc(30);
  padding-left: rem-calc(94);

  h1 {
    font-size: rem-calc(80);
    line-height: 0;
    top: rem-calc(-26);
    left: 0;

  }

  i {
    line-height: rem-calc(30);
  }

  p {
    &:before {
      content: "";
      display: block;
      height: rem-calc(30);
      border-right: 1px solid $white;
      float: left;
      margin-right: rem-calc(20);
    }
  }
}

.footer-info {
  hgroup {
    padding-left: rem-calc(50);
    span {
      top: 0; left: 0;
      font-size: rem-calc(50);
    }
  }
}

.get-ticket {
  span {
      font-size: rem-calc(26);
      margin-right: rem-calc(12);
      margin-left: rem-calc(11);
  }
}

.footer-social {
  li {
    margin-left: rem-calc(5);
    &:first-child {
      line-height: rem-calc(28);
      margin-left: rem-calc(12);
    }
  }
}

#credits {
  p {
    height: rem-calc(50);
    @extend .no-margin;
    @extend .font-small;
    &:first-child {
      border-bottom: 1px solid tint($ghost, 70%);
    }
    &:last-child {
      border-top: 1px solid $white;
    }
  }
}

.icon-icon_plan {
  font-size: rem-calc(34);
}

//menus
.custom-nav {
  ul {
    @extend .no-bullet;
  }
}