/**
 * ------------------------------------------------------------------
 * Foudation
 * ------------------------------------------------------------------
 */
.row {
	min-width: rem-calc(1230) !important;
}
.button.secondary {
	&.shape {
		border: 2px outset $ghost;
	}
}
.button {
	&.shape {
		border: 2px outset $primary-color;
	}
}
body {
	position: relative;
}

/**
 * ------------------------------------------------------------------
 * Ícones
 * ------------------------------------------------------------------
 */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icon_promo_02:before {
	content: "\e634";
}
.icon-icon_promo_01:before {
	content: "\e635";
}
.icon-icon_abrir:before {
	content: "\e600";
}
.icon-icon_busca:before {
	content: "\e601";
}
.icon-icon_carrinho:before {
	content: "\e602";
}
.icon-icon_certificado:before {
	content: "\e603";
}
.icon-icon_desconto1:before {
	content: "\e604";
}
.icon-icon_desconto2:before {
	content: "\e605";
}
.icon-icon_down_2:before {
	content: "\e606";
}
.icon-icon_down_3:before {
	content: "\e607";
}
.icon-icon_enviar:before {
	content: "\e608";
}
.icon-icon_facebook:before {
	content: "\e609";
}
.icon-icon_fechar:before {
	content: "\e60a";
}
.icon-icon_gm_cor .path1:before {
	content: "\e60b";
	color: rgb(236, 28, 36);
}
.icon-icon_gm_cor .path2:before {
	content: "\e60c";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-icon_gm_cor .path3:before {
	content: "\e60d";
	margin-left: -1em;
	color: rgb(231, 30, 37);
}
.icon-icon_gm_cor .path4:before {
	content: "\e60e";
	margin-left: -1em;
	color: rgb(124, 125, 125);
}
.icon-icon_gm_cor .path5:before {
	content: "\e60f";
	margin-left: -1em;
	color: rgb(119, 118, 119);
}
.icon-icon_gm_cor .path6:before {
	content: "\e610";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-icon_gm_pb:before {
	content: "\e611";
}
.icon-icon_group:before {
	content: "\e612";
}
.icon-icon_incar:before {
	content: "\e613";
}
.icon-icon_insta:before {
	content: "\e614";
}
.icon-icon_left_1:before {
	content: "\e615";
}
.icon-icon_left_2:before {
	content: "\e616";
}
.icon-icon_left_3:before {
	content: "\e617";
}
.icon-icon_left_4:before {
	content: "\e618";
}
.icon-icon_left_5:before {
	content: "\e619";
}
.icon-icon_local:before {
	content: "\e61a";
}
.icon-icon_mail_2:before {
	content: "\e61b";
}
.icon-icon_menu:before {
	content: "\e61c";
}
.icon-icon_newsletter:before {
	content: "\e61d";
}
.icon-icon_outcar:before {
	content: "\e61e";
}
.icon-icon_pass:before {
	content: "\e61f";
}
.icon-icon_perfil:before {
	content: "\e620";
}
.icon-icon_person:before {
	content: "\e621";
}
.icon-icon_phone:before {
	content: "\e622";
}
.icon-icon_picture:before {
	content: "\e623";
}
.icon-icon_plan:before {
	content: "\e624";
}
.icon-icon_right_1:before {
	content: "\e625";
}
.icon-icon_right_2:before {
	content: "\e626";
}
.icon-icon_right_3:before {
	content: "\e627";
}
.icon-icon_right_4:before {
	content: "\e628";
}
.icon-icon_right_5:before {
	content: "\e629";
}
.icon-icon_sair:before {
	content: "\e62a";
}
.icon-icon_seguranca:before {
	content: "\e62b";
}
.icon-icon_share:before {
	content: "\e62c";
}
.icon-icon_ticket:before {
	content: "\e62d";
}
.icon-icon_twitter:before {
	content: "\e62e";
}
.icon-icon_up_2:before {
	content: "\e62f";
}
.icon-icon_up_3:before {
	content: "\e630";
}
.icon-icon_voltar:before {
	content: "\e631";
}
.icon-icon_youtube:before {
	content: "\e632";
}
.icon-icon_zoom:before {
	content: "\e633";
}

/**
 * ------------------------------------------------------------------
 * Placeholders
 * ------------------------------------------------------------------
 */
%full-height {
	height: 100%;
}
%transition {
	@include transition(all .3s linear);
}
%radius {
		border-radius: $global-radius;
}

/**
 * ------------------------------------------------------------------
 * Seletores
 * ------------------------------------------------------------------
 */
figure {
	margin: 0;
}
a {
	@extend %transition;
}
input {
	height: rem-calc(40);
}
option {
	background-color: #fff;
}

/**
 * ------------------------------------------------------------------
 * Tipografia
 * ------------------------------------------------------------------
 */

//Peso
.font-lite {
	font-weight: 300;
}
.font-regular {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}
.font-black {
	font-weight: 900;
}

//tamanho
.font-small {
	font-size: rem-calc(12);
}
.font-normal {
	font-size: rem-calc(14);
}
.font-medium {
	font-size: rem-calc(16);
}

//cores
.primary {
	color: $primary-color;
}
.secondary {
	color: $secondary-color;
}
.info {
	color: $info-color;
}
.white {
	color: $white;
}
.ghost {
	color: $ghost;
}

//caixa
.text-up {
	text-transform: uppercase;
}
.text-low {
	text-transform: lowercase;
}

//altura da linha
.lh-small {
	line-height: 1;
}
.lh-zero {
	line-height: 0;
}

/**
 * ------------------------------------------------------------------
 * Backgrounds
 * ------------------------------------------------------------------
 */
.bg-primary {
	background-color: $primary-color;
}
.bg-secondary {
	background-color: $secondary-color;
}
.bg-info {
	background-color: $info-color;
}
.bg-ghost {
	background-color: $ghost;
}
.bg-white {
	background-color: $white;
}
.bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 50%;
}
.bg-gradient {
	background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
.white-panel {
	padding-top: rem-calc(20);
	padding-bottom: rem-calc(20);
	background-color: $white;
}

/**
 * ------------------------------------------------------------------
 * Comportamentos
 * ------------------------------------------------------------------
 */
.d-block {
	display: block;
}
.d-iblock {
	display: inline-block;
}
.d-table {
	display: table;
}
.d-table-cell {
	display: table-cell;
	vertical-align: middle;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.full-height {
	@extend %full-height;
}

/**
 * ------------------------------------------------------------------
 * Margens
 * ------------------------------------------------------------------
 */
.no-margin {
	margin: 0 !important;
}
.divide-30 {
	@extend .small-16;
	@extend .left;
	margin-bottom: rem-calc(30);
}
.divide-20 {
	@extend .small-16;
	@extend .left;
	margin-bottom: rem-calc(20);
}
.divide-10 {
	@extend .small-16;
	@extend .left;
	margin-bottom: rem-calc(10);
}
.pd-left-20 {
	padding-left: rem-calc(20);
}
.pd-left-30 {
	padding-left: rem-calc(30);
}
.pd-left-40 {
	padding-left: rem-calc(40);
}
.nine-eight {
	width: 96% !important;
}

/**
 * ------------------------------------------------------------------
 * Cabeçalhos
 * ------------------------------------------------------------------
 */
.primary-header {
	border-bottom: 1px solid $ghost;
}

/**
 * ------------------------------------------------------------------
 * Botões
 * ------------------------------------------------------------------
 */
.button-ghost {
	@include button( $bg: tint($ghost, 60%) );
	@extend .ghost;
	border-radius: rem-calc(50);
}

.button, button {
	&.thin {
		padding: rem-calc(10 20);
	}
}